<html>

<head>
  <title>Карта</title>      
  <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
  <script src="https://cdn.rawgit.com/kikocorreoso/map2wiki/master/src/static/brython_dist.js"></script>
  <style>
body {font-family: 'Open Sans', sans-serif;}

html, body {
    width:100%;  
    height:100%;
    margin:0;
}

#mapdiv {
    width:100%;
    height:100%;
    position: absolute;
}
  </style>
</head>

<body onload="brython(1)">
   <div id="mapdiv"></div>

<script type="text/javascript">

    var epsg4326 = new OpenLayers.Projection("EPSG:4326");
    var map = new OpenLayers.Map('mapdiv');
    

    var osmLayer = new OpenLayers.Layer.OSM("OSM");
    map.addLayer(osmLayer);
    var center = new OpenLayers.LonLat(37.41, 8.82).transform(epsg4326,map.getProjectionObject());
    map.setCenter(center,2); 

    var points = [];
    {% for row in coordinate %}
	var g;
	var r = 255;
	if ({{ row["count(ip_address)"] }} <= 255 )
            g = 255 - {{ row["count(ip_address)"] }};
	else if ({{ row["count(ip_address)"] }} <= 510) { 
	    g = 0; 
	    r -= {{ row["count(ip_address)"] }} - 255;
	} else {
	    g = 0;
	    r = 0;
	}

        points.push(new OpenLayers.Geometry.Point({{ lon }}, {{ lat }}));
        points.push(new OpenLayers.Geometry.Point({{ row["lon"] }}, {{ row["lat"] }}));

        var myLine = new OpenLayers.Geometry.LineString(points).transform(epsg4326, map.getProjectionObject());
        var myLineStyle = {strokeColor:"rgb("+ r +","+ g +",0)", strokeWidth:2};
        var myFeature = new OpenLayers.Feature.Vector(myLine, {}, myLineStyle);
        var myVector = new OpenLayers.Layer.Vector("line test");
        myVector.addFeatures([myFeature]);
        map.addLayers([myVector]);

	var lat_lon = new OpenLayers.LonLat({{ row["lon"] }},{{ row["lat"] }}).transform(new OpenLayers.Projection("EPSG:4326"), map.getProjectionObject());

	var markers = new OpenLayers.Layer.Markers("Markers");
	map.addLayer(markers);
	markers.addMarker(new OpenLayers.Marker(lat_lon));
	map.setCenter(lat_lon, 2);

        points.pop();
        points.pop();
    {% endfor %}

	

</script>

</body>

</html>
