<html>

<head>
  <title>Map</title>      
  <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
  <script src="https://cdn.rawgit.com/kikocorreoso/map2wiki/master/src/static/brython_dist.js"></script>
  <style>
body {font-family: 'Open Sans', sans-serif;}

html, body {
    width:100%;  
    height:100%;
    margin:0;
}

#mapdiv {
    width:100%;
    height:100%;
    position: absolute;
}
  </style>
</head>

<body onload="brython(1)">
   <div id="mapdiv"></div>

<script type="text/python">

from javascript import JSObject, JSConstructor
from browser import document, window, alert


ol = window.OpenLayers;
layer = JSConstructor(ol.Layer.OSM)();
map = JSConstructor(ol.Map)("mapdiv");
map.addLayer(layer);

# defolt marker

proj4326 = JSConstructor(ol.Projection)("EPSG:4326");
lat_lon = JSConstructor(ol.LonLat)({{ lon }},{{ lat }}).transform(proj4326, map.getProjectionObject());
map.setCenter(lat_lon, 2);
markers = JSConstructor(ol.Layer.Markers)("Markers");
map.addLayer(markers);
marker = JSConstructor(ol.Marker)(lat_lon);
markers.addMarker(marker);

{% for row in coordinate %}
proj4326 = JSConstructor(ol.Projection)("EPSG:4326");
lat_lon = JSConstructor(ol.LonLat)({{ row["lon"] }},{{ row["lat"] }}).transform(proj4326, map.getProjectionObject());
map.setCenter(lat_lon, 2);
markers = JSConstructor(ol.Layer.Markers)("Markers");
map.addLayer(markers);
marker = JSConstructor(ol.Marker)(lat_lon);
markers.addMarker(marker);
{% endfor %}




 </script>

 </body>

</html>
